.characters {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("https://image.winudf.com/v2/image/Y29tLmxpdGVhcHBzLm1hcnZlbHdhbGxwYXBlcl9zY3JlZW5fN18xNTI1NjgwNzUwXzAzMA/screen-7.jpg?h=710&fakeurl=1&type=.jpg");
}
