.comics {
	background-image: url("https://image.winudf.com/v2/image/Y29tLmxpdGVhcHBzLm1hcnZlbHdhbGxwYXBlcl9zY3JlZW5fM18xNTI1NjgwNzQ4XzA3NQ/screen-3.jpg?h=710&fakeurl=1&type=.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
